[Unit]
Description=LVWEB-128 HTTP Listener

[Service]
User=deploy
Group=deploy
Environment="APPDIR=/opt/lv128/HTTPListener/"
ExecStart=/bin/bash -c "source $APPDIR/bin/activate ; python $APPDIR/http_listener.py -l  \
$APPDIR/../log/httplistener.log -p 8881"

[Install]
WantedBy=multi-user.target
