<html>
<head>
{% load staticfiles %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="container">
	<form action="" method="POST" class="form-signin">
	{% csrf_token %}
	<input class="form-control" type="text" name="login" placeholder="login" required>
	<input class="form-control" type="text" name="fullname" placeholder="fullname" required>
	<input class="form-control" type="text" name="token" placeholder="token" required>
	<button name="save" class="btn btn-sm btn-success">save</button>
</form>
</div>
</body>
</html>